OpenGlGame1/x64/Debug/BlockConstants.obj
OpenGlGame1/x64/Debug/Chunk.obj
OpenGlGame1/x64/Debug/Frustum.obj
OpenGlGame1/x64/Debug/glad.obj
OpenGlGame1/x64/Debug/Main.obj
OpenGlGame1/x64/Debug/OpenGlGame1.exe.recipe
OpenGlGame1/x64/Debug/OpenGlGame1.ilk
OpenGlGame1/x64/Debug/OpenGlGame1.log
OpenGlGame1/x64/Debug/OpenGlGame1.tlog/CL.command.1.tlog
OpenGlGame1/x64/Debug/OpenGlGame1.tlog/Cl.items.tlog
OpenGlGame1/x64/Debug/OpenGlGame1.tlog/CL.read.1.tlog
OpenGlGame1/x64/Debug/OpenGlGame1.tlog/CL.write.1.tlog
OpenGlGame1/x64/Debug/OpenGlGame1.tlog/link.command.1.tlog
OpenGlGame1/x64/Debug/OpenGlGame1.tlog/link.read.1.tlog
OpenGlGame1/x64/Debug/OpenGlGame1.tlog/link.secondary.1.tlog
OpenGlGame1/x64/Debug/OpenGlGame1.tlog/link.write.1.tlog
OpenGlGame1/x64/Debug/OpenGlGame1.tlog/OpenGlGame1.lastbuildstate
OpenGlGame1/x64/Debug/Player.obj
OpenGlGame1/x64/Debug/Shader.obj
OpenGlGame1/x64/Debug/vc143.idb
OpenGlGame1/x64/Debug/vc143.pdb
x64/Debug/OpenGlGame1.exe
x64/Debug/OpenGlGame1.pdb
.vs/OpenGlGame1/FileContentIndex/05ff4324-7249-46cc-ba6e-232ccc3bd872.vsidx
.vs/OpenGlGame1/FileContentIndex/24348d2d-ec90-40a1-b6f1-614b7b0552eb.vsidx
.vs/OpenGlGame1/FileContentIndex/32c476d5-6893-4c44-8633-a24ef7b2b2df.vsidx
.vs/OpenGlGame1/FileContentIndex/8c9fbaca-586c-445e-b1d6-0d2f431270bf.vsidx
.vs/OpenGlGame1/FileContentIndex/a7b3e9fe-f399-4d3c-a71e-38bfa4b6c53a.vsidx
.vs/OpenGlGame1/v17/.suo
.vs/OpenGlGame1/v17/Browse.VC.db
.vs/OpenGlGame1/v17/Browse.VC.db-shm
.vs/OpenGlGame1/v17/Browse.VC.db-wal
.vs/OpenGlGame1/v17/Browse.VC.opendb
.vs/OpenGlGame1/v17/ipch/AutoPCH/33544be21932821a/MAIN.ipch
.vs/OpenGlGame1/v17/ipch/AutoPCH/e23f57b44db5f6f2/CHUNK.ipch
